@use '../abstracts' as *;

.brand {
	padding: 0 2.4rem;
	text-align: center;

	&__content {
		margin-top: 4.8rem;

		@include breakpoint(large) {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 54rem;
			margin-top: 0;
			padding-top: 9.6rem;
			padding-left: 9.6rem;
			background-color: var(--white);
		}
	}

	&__img {
		width: 100%;

		@include breakpoint(large) {
			width: auto;
		}
	}

	&__description {
		font-family: var(--font-alata);
		color: var(--gray);
		line-height: 1.7;
		margin-top: 1.6rem;
	}
}
