@use '../abstracts' as *;
.footer {
	font-family: var(--font-alata);
	color: var(--white);
	padding: 5.6rem 0;
	background-color: var(--black);

	&__container {
		display: grid;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint(large) {
			grid-template-columns: repeat(2, 1fr);
			justify-content: start;
			row-gap: 1.4rem;
		}
	}

	&__logo {
		justify-self: center;

		@include breakpoint(large) {
			justify-self: start;
		}
	}

	&__nav {
		justify-self: center;
		margin-top: 3.2rem;
		margin-bottom: 4.8rem;

		@include breakpoint(large) {
			margin: 0;
			grid-column: 1 / 2;
			grid-row: 2 / 3;
			justify-self: start;
			align-self: center;
		}

		&-list {
			display: flex;
			flex-direction: column;

			@include breakpoint(large) {
				flex-direction: row;
				column-gap: 3.2rem;
			}
		}

		&-item {
			margin-bottom: 1.6rem;

			@include breakpoint(large) {
				margin-bottom: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&-link {
			font-size: 1.5rem;
			text-transform: initial;
		}
	}

	&__share {
		justify-self: center;
		display: flex;
		align-items: center;
		margin-bottom: 1.6rem;
		column-gap: 1.6rem;

		@include breakpoint(large) {
			margin-bottom: 0;
			justify-self: end;
			align-self: center;
		}
	}

	&__link {
		display: inline-block;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -8px;
			width: 100%;
			height: 2px;
			background-color: var(--white);
			transform: scale(0, 1);
			transform-origin: left top;
			transition: transform 0.4s;
		}
		&:hover::after {
			transform: scale(1, 1);
		}
	}

	&__icon {
		margin-right: 1.6rem;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__copyright {
		color: var(--gray);
		@include breakpoint(large) {
			justify-self: end;
			align-self: end;
		}
	}
}
